<style>
   #map {
      height: 500px;
      width: 100%;
   }
</style>
<input value={{shelter.id}} id="id-input" type="text" hidden>
<h3>Ubicación de {{shelter.name}}</h3>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtKrbr0V5A95amGlRF-JMdqw_BBQotmWA"></script>
<script type="text/javascript" src="/js/main.js"></script>