<div class="dedicatoria">

    <h3>CURRO</h3>

    <img src="./images/micurro1.jpg">
    <img src="./images/micurro2jpg.jpg">


    <p>Este trabajo quiero dedicártelo a ti, por los 17 años de felicidad que me has dado.<br> Siempre en mi corazón.
    <p>

</div>