<div class="dedicatoria">

    <p>Este trabajo quiero dedicártelo a ti, por los 17 años de felicidad que me has dado. Siempre en mi corazón.</p>
    <img src="./images/micurro1.jpg">

    {{!-- <img src="./images/micurro3.jpg"> --}}
    <img src="./images/micurro2jpg.jpg">

</div>