<div class="finales_felices">

    <h5>FINALES FELICES</h5>


    <img src="images/adoptados/14-fotos-de-perros-rescatados-antes-y-despues-de-ser-adoptados-perro-rosie-Trio-Animal-Foundation.jpg" </div>