<div class="noticias">

    <h2>NOTICIAS</h2>
    <h5>RADIO ALICANTE</h5>
    <center>
        <h6>Sucesos</h6>
    </center>

    <p>"Un joven salva la vida de un perro que se precipitó desde un cuarto piso. El hombre ha resultado herido con fractura de muñeca y rotura de dos
        dedos de la mano izquierda al coger en el aire al animal para frenar su caída. La Policía Local de Alicante ha pedido a la Concejalía de
        Seguridad y a la jefatura policial el reconocimiento público del joven".</p>

    <img src="/images/noticia_normal_recorte1.jpg">

</div>