<h2>VOLUNTARIADO EN ALBERGUE</h2>
<p>Los voluntarios siempre son indispensables para el buen funcionamiento de cualquier asociación. El único requisito es que te gusten los animales,
    que
    desees aprender a comprenderlos, tratarlos con cariño, respeto y que te apetezca compartir parte de tu tiempo con ellos.
</p>
<p>
    Nuestra asociación dispone de un albergue donde los animales están alojados, alimentados y cuidados, y que cubre todas sus necesidades básicas
    mientras esperan un hogar. Pero sin la ayuda de los voluntarios carecerían de lo esencial: de que alguien vaya a pasearles, a jugar con ellos, a
    darles cariño, y lo más importante, a ayudarles a recuperar su confianza. Y ese alguien puedes ser tú.
</p>Tenemos horario flexible de lunes a sábado. En cuanto conozcas a nuestros perros, no podrás dejar de venir…</p>