<div class="dogs_list">
  <div>
    <div class="quiero_adoptar">
      <button type="button" class="btn btn-secondary"><a href="/login">Quiero adoptar</a></button>
    </div>
  </div>

  <h1>Lista de perros</h1>
  <h6>(Todos ellos están en la actualidad en adopción)</h6>
  <ul>
    {{#each allDogs}}
    <li>
      <h3>{{this.name}}</h3>
      <a href="/dogs/{{this.id}}">
        <h5> Detalles</h5>
      </a>
      <img class="dogs_in_adoption" src="{{this.img_url}}">
    </li>
    {{/each}}
  </ul>
</div>